/*
 * 六斤金融V1.0
 * 开发者：张阳
 * 主色#F96064
 */
@import 'reset.scss';
@import 'layer.scss';
/*公用配置*/
$colorMain: #F96064;
$colorNavbar: #A0A0A0;
$colorTit: #000;
$colorMiaoshu: #222;
$colorSub: #4A4A4A;
$colorText: #9B9B9B;
$colorW: #fff;
$btnDisabled: #FAC4C6;
$barBg: #F8F9FB;
$bodyBg: #F8F9FB;
$mainBG: #fff;
/*主体*/
body{
    background: $bodyBg;
}
.main{
    max-width: 640px;
    margin: auto;
}
.navbar{
    position: fixed;
    z-index: 99;
    height: 45px;
    left: 0;
    border-top: 1px solid #E5E5E5;
    bottom: 0;
    width: 100%;
    background: $barBg;
    font-size: 13px;
    display: flex;
    a{
        color: $colorNavbar;
        display: block;
        text-align: center;
        padding-top: 4px;
        flex: 1;
        .bar-icon{
            width: 20px;
            height: 20px;
            background-size: cover;
            margin: auto;
        }
        .bar-icon1{
            background-image: url(../images/nav-1.png);
        }
        .bar-icon2{
            background-image: url(../images/nav-2.png);
        }
        .bar-icon3{
            background-image: url(../images/nav-3.png);
        }
        .bar-icon4{
            background-image: url(../images/nav-4.png);
        }
    }
    a.active{
        color: $colorMain;
        .bar-icon1{
            background-image: url(../images/nav-1-active.png);
        }
        .bar-icon2{
            background-image: url(../images/nav-2-active.png);
        }
        .bar-icon3{
            background-image: url(../images/nav-3-active.png);
        }
        .bar-icon4{
            background-image: url(../images/nav-4-active.png);
        }
    }
}
.navbar~.main{
    padding-bottom: 44px;
}
#sy-echarts{
    margin-top: 15px;
}
#sy-echarts2{
    margin: 5px 0 10px 0;
}

.ino-ts{
    text-align: center;
    color: $colorSub;
    padding: 12px 0;
    border-bottom: 1px solid #E2E0E0;
}
.ino-ms{
    color: $colorMain;
    padding: 20px 30px;
}
.ino-btn{
    padding:0 40px 20px 40px;
}
.ino-register{
    display: block;
    color: $colorMain;
    font-size: 18px;
    padding: 8px 0;
    text-align: center;;
    border: 1px solid $colorMain;
    border-radius: 6px;
}
.iyes-top{
    color: $colorW;
    background: #4A90E2;
    display: flex;
    padding: 10px 0;
}
.iyes-zc{
    flex: 1;
    padding-left: 20px;
}
.iyes-name{
    font-size: 16px;
}
.iyes-num{
    font-size: 20px;
}
.iyes-more{
    padding:10px 15px;
    background: #E5E5E5;
    color: $colorSub;
}
.iyes-list{
    a{
        display: block;
        margin-top: 15px;
        img{
            width: 100%;
        }
        &:nth-child(1){
            margin-top: 0;
        }
    }
}
.tz-logo{
    text-align: center;
    padding: 17px 0;
    img{
        width: 140px;
    }
}
.swiper-slide {
    img{
        width: 100%;
    }
}
.li-nav{
    background-color: $mainBG;
    padding: 7px 0;
    display: flex;
    a{
        display: block;
        flex: 1;
        text-align: center;
        p{
            font-size: 12px;
            color: $colorSub;
        }
        img{
            width: 20px;
        }
    }
}
.li-list{
    a{
        display: flex;
        padding: 4px 10px;
        background: $mainBG;
        margin-top: 8px;
    }
}
.li-list-img{
    width: 70px;
    img{
        width: 100%;
    }
}
.li-list-center{
    flex: 1;
    padding-left: 10px;
}
.li-list-xq{
    width: 70px;
}
.li-list-name{
    color: $colorTit;
    font-size: 15px;
    padding-top: 2px;
}
.li-list-mun,
.li-list-time{
    font-size: 13px;
    color: $colorTit;
    padding-top: 2px;
}
.li-list-xq{
    color: $colorMain;
    border: 1px solid $colorMain;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    height: 26px;
    line-height: 26px;
    align-self:center;
}
.c-main{
    color: $colorMain;
}
.li-con-m1{
    background: $mainBG;
    margin: 8px 0 8px 0;
    padding: 5px 15px;
}
.li-con-tit{
    font-size: 22px;
}
.li-con-price{
    font-size: 18px;
}
.li-con-h{
    color: $colorMain;
    text-decoration: line-through;
}
.li-con-js{
    font-size: 12px;
    color: $colorText;
    padding-top: 2px;
}
.li-con-qi{
    position: relative;
    min-height: 21px;
    padding: 10px 10px 0px 75px;
    border-top: 1px solid #DBDADA;
    margin-top: 7px;
    .lcq-tit{
        color: $colorText;
        position: absolute;
        left: 0;
        top: 10px;
    }
}

.lcq-list{
    overflow: hidden;
}
.lcq-qi{
    float: left;
    color: $colorText;
    border: 1px solid $colorText;
    height: 21px;
    padding: 0 5px;
    margin:0 15px 10px 0;
    &.active{
        color: $colorMain;
        border-color: $colorMain;
    }
    input{
        width: 0;
        height: 0;
        border: 0;
    }
}
.li-con-tz{
    position: relative;
    min-height: 21px;
    padding: 0px 10px 7px 75px;
    border-bottom: 1px solid #DBDADA;
    margin-bottom: 7px;
    .lcq-tit{
        color: $colorText;
        position: absolute;
        left: 0;
        top: 0px;
    }
}
.li-con-m2{
    background: $mainBG;
    padding: 10px 15px 0 15px;
}
.lcm-list{
    padding-bottom: 10px;
}
.lcm-title{
    font-size: 16px;
    color: $colorSub;
}
.lcm-text{
    font-size: 12px;
    color: $colorText;
}
.buybar{
    position: fixed;
    z-index: 99;
    height: 48px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $mainBG;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.5);
}
.buy-btn{
    display: block;
    width: 50%;
    height: 48px;
    background-color: $colorMain;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
}
.buy-left{
    width: 50%;
    text-align: center;
}
.buy-txt{
    color: $colorText;
    line-height: 48px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: middle;
}
.buy-box{
    display: inline-block;
    height: 48px;
    width: 80px;
    vertical-align: middle;
    position: relative;
}
.buy-min,
.buy-add{
    position: absolute;
    top: 11px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid $colorText;
    color: $colorText;
}
.buy-min{
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.buy-add{
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.buy-num{
    width: 32px;
    position: absolute;
    top: 11px;
    left: 24px;
    border: 1px solid $colorText;
    color: $colorText;
    height: 24px;
    text-align: center;
    border-left: 0;
    border-right: 0;
}
.buybar~.main{
    padding-bottom: 48px;
}
.shai-list{
    li{
        background-color: $mainBG;
        padding: 10px 8px;
        margin-top: 8px;
    }
    li:nth-child(1){
        margin-top: 0;
    }
}
.shai-top{
    padding-bottom: 10px;
}
.shai-tx{
    float: left;
    width: 30px;
    height: 30px;
    img{
        width: 100%;
        box-shadow: 0 0px 4px 0 rgba(0,0,0,.5);
        border-radius: 4px;
    }
}
.shai-name{
    line-height: 30px;
    float: left;
    padding-left: 8px;
}
.shai-pic{
    overflow: hidden;
    dd{
        width: 20%;
        float: left;
        margin-left: 8px;
        margin-bottom: 8px;
        background-position: center center;
        background-size: cover;
        img{
            width: 100%;
        } 
    }
    dd:nth-child(4n+1){
        margin-left: 0;
    }
}
.shai-con{
    padding-bottom: 5px;
    color: $colorSub;
}
.shai-footer{
    overflow: hidden;
    font-size: 12px;
    color: $colorText;
    padding-right: 10px;
}
.shai-date{
    float: left;
}
.shai-num{
    float: right;
    img{
        width: 16px;
        margin-right: 5px;
        position: relative;
        top: -1px;
    }
}
.tabbar{
    position: fixed;
    z-index: 99;
    height: 43px;
    left: 0;
    top: 0;
    width: 100%;
    background: #E5E5E5;
    border-bottom: 1px solid #A0A0A0;
    display: flex;
}
.tabbar~.main{
    padding-top: 43px;
}
.ftab-li{
    flex: 1;
    text-align: center;
    line-height: 43px;
    span{
        display: inline-block;
        padding: 0 5px;
        height: 43px;
    }
    &.active span{
        border-bottom: 2px solid $colorMain;
        color: $colorMain;
    }
}
.ftab-con{
    padding: 15px 20px;
}
.fx-sy{
    margin: auto;
    width: 195px;
    height: 200px;
    background-image: url(../images/fd-1.png);
    background-repeat: no-repeat;
    background-size: 195px 200px;
    position: relative;
    color: $colorSub;
}
.tx-t1,.tx-t2,.tx-t3,.tx-t4,.tx-t5{
    position: absolute;
    text-align: center;
}
.tx-t1{
    width: 100%;
    top: 32px;
    left: 0;
    text-align: center;
}
.tx-t2{
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    font-size: 27px;
    span{
        font-size: 37px;
    }
}
.tx-t3{
    width: 100%;
    top: 107px;
    left: 0;
    font-size: 12px;
    padding-left: 10px;
}
.tx-t4{
    width: 50%;
    top: 107px;
    left: 50%;
    font-size: 12px;
    padding-right: 10px;
}
.tx-t4-t{
    color: $colorText;
}
.tx-t5{
    width: 100%;
    bottom: 30px;
    text-align: center;
    left: 0;
    font-size: 13px;
}
.tx-t6{
    position: absolute;
    width: 11px;
    right: 30px;
    top: 55px;
}
.fx-name{
    font-size: 18px;
    text-align: center;
    color: $colorMain;
    padding-top: 8px;
}
.fx-time{
    text-align: center;
    color: $colorMiaoshu;
    padding-top: 4px;
}
.fx-ts{
    text-align: center;
    font-size: 12px;
    color: $colorSub;
    padding-top: 2px;
}
.fx-line{
    height: 1px;
    border-bottom: 1px solid #DEDEDE;
    margin: 10px 0;
}
.fx-tit{
    font-size: 18px;
    color: $colorW;
    display: inline-block;
    padding: 2px 15px;
    background-color: $colorMain;
    border-radius: 4px;
}
.fx-xq{
    padding-top: 10px;
    color: $colorMiaoshu;
    font-size: 13px;
}
#sy-bar{
     box-sizing: content-box; 
     margin:0 -10px;
}
.sy-ll{
    display: flex;
}
.sy-box{
    flex: 1;
}
.sy-b1{
    padding: 5px 0;
    span{
        display: inline-block;
        padding: 3px 10px;
        min-width: 88px;
        border: 1px solid #DEDEDE;
        color: $colorSub;
    }
}
.sy-b2{
    font-size: 16px;
    color: $colorSub;
}
.sy-txt{
    color: $colorSub;
}
.sy-ts{
    padding-top: 10px;
    color: $colorText;
    font-size: 12px;
}
.sy-tit{
    span{
        font-size: 16px;
    }
    a{
        font-size: 12px;
        color: $colorMain;
        display: inline-block;
        border-radius: 11px;
        padding: 1px 8px;
        float: right;
        border: 1px solid $colorMain;
    }
}
.tz-list{
    display: flex;
    padding: 7px 0;
}
.tz-tit{
    color: $colorText;
}
.tz-xq{
    color: $colorTit;
    flex: 1;
    text-align: right;
    a{
        color: #4A90E2;
    }
}
.tz-btn{
    background: $colorMain;
    color: $colorW;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 8px 0;
    box-sizing: content-box;
    margin: 0px -20px 0 -20px;
}
.sysm-main{
    padding: 20px;
    color: $colorTit;
}
.sysm-tit{
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.sysm-txt{
    font-size: 14px;
    padding: 10px 0;
}
.sysm-ts{
    font-size: 12px;
    padding: 10px 0; 
}
.sy-con{
    padding-bottom: 25px;
    background: #fff;
    margin-bottom: 20px;
}
.sy-list{
    background: $colorW;
    margin-bottom: 5px;
    padding:10px;
}
.sy-btn{
    background: $colorMain;
    color: $colorW;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 8px 0;
    margin: 0 38px;
    border-radius: 4px;
}
.sy-list-top{
    display: flex;
}
.sy-list-tit{
    font-size: 18px;
    color: $colorMain;
}
.sy-list-bq{
    flex: 1;
    text-align: right;
    span{
        color: $colorW;
        font-size: 12px;
        padding: 3px 5px;
        background: $colorMain;
        display: inline-block;
        margin: 0 2px;
        border-radius: 3px;
    }
}
.sy-list-box{
    display: flex;
    padding: 10px 0 5px 0;
}
.sy-list-l{
    flex:4;
    text-align: center;
    font-size: 16px;
}
.sy-list-m{
    width: 60px;
    text-align: center;
    font-size: 16px;
}
.sy-list-n{
    flex: 5;
    text-align: center;
    font-size: 16px;
}
.sy-list-name{
    color: $colorText;
}
.sy-list-con{
    color: $colorMain;
}
.login-main{
    padding: 20px;
}
.login-logo{
    padding: 20px 0 50px 0;
    text-align: center;
    img{
        width: 140px;
    }
}
.login-list{
    display: flex;
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid #E2E0E0;
}
.layermcont .login-list{
    border-bottom: 0;
    border-top: 1px solid #E2E0E0;
}
.layermcont .login-list:nth-child(1){
    border-top: none;
}
.login-name{
    min-width: 80px;
    font-size: 20px;
    color: $colorTit;
}
.login-form{
    flex: 1;
}
.login-text{
    border: none;
    background: none;
    flex: 1;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}
.login-cz{
    padding-top: 8px;
    text-align: right;
    color: $colorText;
    font-size: 13px;
    a{
        color: $colorText;
    }
    .login-register{
        float: left;
        color: $colorMain;
    }
    .login-forget{
        color: $colorText;
    }
}
.login-footer{
    text-align: center;
    padding: 80px 20px 0 20px;
}
.login-btn{
    font-size: 20px;
    color: $colorW;
    background: $colorMain;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    &:disabled {
        background: #E5E5E5;
    }
}
.send-sms{
    position: absolute;
    border: none;
    z-index: 11;
    width: 80px;
    height: 24px;
    background: $colorMain;
    color: $colorW;
    text-align: center;
    padding: 3px 5px;
    font-size: 12px;
    right: 0;
    top: 11px;
    border-radius: 3px;
}
.login-forget-top{
    display: flex;
    border: 1px solid #DBDADA;
    margin-bottom: 70px;
    border-radius: 4px;
    overflow: hidden;
}
.login-forget-li{
    flex: 1;
    line-height: 30px;
    text-align: center;
    position: relative;
    &.active{
        background: $colorMain;
        color: $colorW;
    }
    &.active::before{
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        right: -8px;
        width:0; 
        height:0; 
        border-top:15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 8px solid $colorMain;
    }
    &.active::after{
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: -9px;
        width:0; 
        height:0; 
        border-top:15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 8px solid $colorW;
    }
}
.btn-q1{
    background: $colorMain;
    color: $colorW;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 8px 0;
    box-sizing: content-box;
}
.btn-q2{
    font-size: 20px;
    display: block;
    color: $colorW;
    border: 0;
    background: $colorMain;
    border-radius: 4px;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    &:disabled {
        background: $btnDisabled;
    }
}
.my-exit{
    margin-top: 20px;
}
.my-name{
    font-size: 20px;
    text-align: center;
    padding: 15px 0 10px 0;
}
.my-tit{
    font-size: 17px;
    text-align: center;
}
.my-shouyi{
    font-size: 48px;
    text-align: center;
    color: $colorMain;
    line-height: 1.1;
    padding-top: 10px;
}
.my-fq{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
.my-fq-li{
    flex: 1;
    text-align: center;
    padding-top: 5px;
    &:nth-child(1){
        padding-right: 20px;
    }
    &:nth-child(2){
        padding-left: 20px;
    }
}
.my-fq-num{
    font-size: 22px;
    color: $colorMain;
    line-height: 1.1;
}
.my-cz{
    overflow: hidden;
    padding: 20px 30px;
    a{
        display: inline-block;
        padding: 2px 30px;
        font-size: 18px;
        color: $colorW;
        border-radius: 4px;
    }
}
.my-cz-cz{
    background: $colorMain;
    float: left;
}
.my-cz-tx{
    background: #F5A623;
    float: right;
}
.my-list{
    padding: 0 10px;
    a{
        display: flex;
        padding: 8px 0;
        border-bottom: 1px solid #F6F6F6;
        color: $colorText;
    }
}
.my-list-icon{
    width: 20px;
    height: 20px;
    img{
        width: 100%;
    }
}
.my-list-r{
    width: 10px;
    height: 20px;
    img{
        width: 100%;
    }
}
.my-list-tit{
    flex: 1;
    padding-left: 9px;
    line-height: 20px;
}
.bg-w{
    background: $colorW;
}
.my-tz-date{
    line-height: 30px;
    padding-left: 10px;
    color: #A0A0A0;
    background: #F8F9FB;
}
.my-tz-list{
    padding-left: 15px;
    li{
        display: flex;
        align-items:center;
        color: $colorSub;
        border-bottom: 1px solid #E5E5E5;
        padding:8px 0 5px 0;
        position: relative;
    }
}
.my-tz-num{
    flex: 2;
    span{
        font-size: 12px;
        padding-left: 5px;
        display: block;
    }
}
.my-tz-r{
    flex: 3;
    padding-left: 10px;
}
.my-tz-time{
    font-size: 12px;
}
.my-tz-more{
    color: #4A90E2;
    text-align: center;
    padding: 15px;
}
.my-bank-btn{
    padding: 20px 40px;
}
.bank-del{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    img{
        width: 100%;
    }
}
.my-bank{
    height: 170px;
    margin: 15px 20px 0 20px;
    background: $colorMain;
    border-radius: 12px;
    padding: 15px 20px;
    color: $colorW;
    position: relative;
}
.my-bank-name{
    font-size: 15px;
    overflow: hidden;
    span{
        padding-left: 5px;
    }
    
}
.my-bank-logo{
    width: 22px;
    height: 22px;
    float: left;
    background: $colorW;
    line-height: 0;
    border-radius: 50%;
    img{
        width: 100%;
    }
}
.my-bank-num{
    font-size: 26px;
    padding: 10px 0;
}
.my-bank-people{
    
}
.my-bank-list{
    padding: 50px 0 0 20px;
    li{
        border-bottom: 1px solid #E5E5E5;
        padding: 8px 15px 8px 0;
        display: flex;
        line-height: 24px;
    }
}
.my-bl-name{
    font-size: 16px;
    color: $colorSub;
}
.my-bl-con{
    color: $colorText;
    font-size: 12x;
    text-align: right;
    padding-right: 10px;
    flex: 1;
}
.my-nb-tit{
    font-size: 12px;
    color: $colorNavbar;
    padding: 12px 0 8px 15px;
}
.my-nb-list{
    background: $colorW;
    border-top:1px solid #E5E5E5;
    border-bottom:1px solid #E5E5E5;
    padding-left: 20px;
    display: block;
    li{
        display: flex;
        padding: 10px 0;
        border-top:1px solid #E5E5E5;
        &:nth-child(1){
            border-top: none;
        }
    }
}
.my-nb-name{
    font-size: 18px;
    color: $colorSub;
    line-height: 28px;
    width: 90px;
}
.my-nb-con{
    flex: 1;
}
.my-nb-text{
    border: none;
    background: none;
    height: 28px;
    width: 100%;
}
.my-cz-main{
    padding: 10px;
    color: $colorSub;
}
.my-cz-a1{
    color: $colorMain;
}
.my-cz-a2{
    font-size: 18px;
    padding: 15px 0 0 0;
}
.my-cz-a3{
    padding: 15px 0;
}
.my-cz-a3,.my-cz-a4{
    font-size: 16px;
}
.my-cz-p1{
    text-align: center;
    padding: 3px 0 8px 0;
    img{
        max-width: 100%;
    }
}
.my-cz-p{
    padding: 6px 0;
}
.my-cz-b{
    font-size: 24px;
    color: $colorMain;
}
.my-cz-c{
    font-size: 12px;
}
.my-e-tit{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.my-swiper{
    .swiper-container{
        padding-bottom: 20px;
    }
}
.my-bq{
    position: absolute;
    right: 0;
    top: -1px;
    width: 40px; 
    height: 40px; 
    font-size: 12px;
}
.my-bq-1 .my-bq-bg{
    border-top: 40px solid #F96064; 
}
.my-bq-2 .my-bq-bg{
    border-top: 40px solid #4A90E2; 
}
.my-bq-3 .my-bq-bg{
    border-top: 40px solid #F5A623; 
}
.my-bq-4 .my-bq-bg{
    border-top: 40px solid #9B9B9B; 
}
.my-bq-bg{
    position: absolute;
    right: 0;
    top: 0;
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    z-index: 1;
}
.my-bq-txt{
    position: absolute;
    top: 7px;
    left: 9px;
    z-index: 2;
    color: $colorW;
    transform:rotate(45deg) scale(0.9);
    text-align: center;
    width: 36px;
}
.tx-header{
    background: $colorMain;
    color: $colorW;
    padding: 6px 18px;
    font-size: 18px;
}
.tx-con{
    display: flex;
}
.tx-con-tit{
    width: 120px;
}
.tx-dj{
    color: $colorMain;
    text-align: right;
    padding: 10px;
}
.tx-form{
    background: $colorW;
    position: relative;
    display: flex;
    padding: 8px 5px 8px 18px;
}
.tx-form-tit{
    font-size: 18px;
    color: $colorSub;
}
.tx-form-con{
    flex: 1;
    padding-right: 10px;
}
.tx-form-text{
    border: none;
    background: none;
    height: 28px;
    width: 100%;
    font-size: 18px;
}
.tx-form-cle{
    width: 28px;
    height: 28px;
    padding: 7px;
    line-height: 0;
    align-self: center;
    img{
        width: 100%;
    }
}
.tx-sxf{
    font-size: 12px;
    padding-left: 18px;
    color: $colorSub;
    padding-top: 10px;
}
.tx-btn{
    padding: 20px 40px 0 40px;
}
.tx-ts{
    font-size: 12px;
    text-align: center;
    color: $colorSub;
    padding-top: 5px;
}
.tx-ok-li{
    padding: 30px 10px 30px 40px;
}
.tx-ok-pic{
    width: 32px;
    height: 32px;
    padding: 7px;
    float: left;
    line-height: 0;
    background: #D8D8D8;
    border-radius: 50%;
    position: relative;
    img{
        width: 100%;
    }
    &.active{
        background: #4A90E2;
        .tx-ok-line1,
        .tx-ok-line2{
            background: #4A90E2;
        }
    }
}
.tx-ok-txt{
    line-height: 32px;
    float: left;
    color: $colorSub;
    padding-left: 10px;
}
.tx-ok-txt2{
    line-height: 16px;
    float: left;
    color: $colorSub;
    padding-left: 10px;
}
.tx-ok-line1,
.tx-ok-line2{
    width: 2px;
    height: 30px;
    background: #D8D8D8;
    position: absolute;
    left: 15px;
}
.tx-ok-line1{
    top: 32px;
}
.tx-ok-line2{
    top: -30px;
}
.tx-ok-time{
    color: $colorText;
    font-size: 13px;
}
.tx-bank-a{
    color: $colorSub;
    display: block;
}
.tx-bank-a.active{
    color: $colorMain;
}
.gm-form{
    margin-top: 10px;
}
.yq-btn{
    position: fixed;
    z-index: 99;
    height: 45px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $barBg;
    font-size: 13px;
}
.yq-btn~.main{
    padding-bottom: 44px;
}
.yq-tit{
    font-size: 20px;
    text-align: center;
    padding: 20px 0 25px 0;
}
.yq-box{
    background-image: url(../images/yaoqing-1.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}
.ya-box-name{
    font-size: 24px;
    color: $colorSub;
    padding-top: 60px;
}
.ya-box-num{
    color: $colorMain;
    font-size: 36px;
    line-height: 1.1;
}
.yq-ts{
    text-align: center;
    padding-top: 30px;
    color: $colorMain;
}
.yq-jl{
    display: flex;
    padding: 25px 0;
}
.yq-jl-li{
    flex: 1;
    text-align: center;
}
.yq-jl-num{
    font-size: 30px;
    color: $colorMain;
    line-height: 1.2;
}
.yq-jl-name{
    font-size: 13px;
    color: #4A90E2;
}
.yq-jl-li2{
    border-left: 1px solid #DEDEDE;
}
.yq-xq{
    display: flex;
    margin-top: 15px;
    padding: 8px 15px;
    background: $colorW;
    font-size: 18px;
    color: $colorSub;
}
.yq-xq-con{
    flex: 1;
    text-align: right;
}
.yq-hy-tit{
    font-size: 18px;
    line-height: 42px;
    padding-left: 15px;
    color: $colorW;
    background: $colorMain;
    margin-top: 15px;
}
.yq-hy-list{
    color: $colorSub;
    background: $colorW;
    dt,dd{
        display: flex;
        padding: 10px 0;
        text-align: center;
        color: $colorSub;
    }
    dd{
        border-top: 1px solid #F6F6F6;
    }
}
.yq-hy-li{
    flex: 1;
}
.cx-main{
    padding: 0 15px;
}
.cx-tit{
    font-size: 16px;
    padding-top: 30px;
}
.cx-con{
    padding: 10px 0 6px 0;
}
.cx-pic{
    img{
        width: 100%;
        opacity: 1;
    }
}
.sy-jd{
    height: 2px;
    background: #B6B6B6;
    margin: 10px 20px 0 20px;
    border-radius: 2px;
}
.sy-jdt{
    background: $colorMain;
    height: 2px;
    border-radius: 2px;
}
.sy-jds{
    text-align: right;
    padding: 3px 20px 0px 0;
    color: $colorMain;
}
.sy-list2{
    margin-bottom: 0;
}
.sy-xq-tit{
    font-size: 18px;
    color: $colorSub;
    padding: 10px 15px 5px 15px;
}
.sy-xq-list{
    padding: 0 15px;
    li{
        border-bottom: 1px solid #DEDEDE;
        padding: 8px 0;
        display: flex;
    }
}
.sy-xq-name{
    color: $colorText;
}
.sy-xq-con{
    color: $colorSub;
    text-align: right;
    flex: 1;
}
.sy-xq-t2{
    background: #E5E5E5;
    padding: 7px 15px;
    margin-top: -1px;
}
.zhifu-tit{
    font-size: 24px;
    color: $colorTit;
    text-align: center;
    padding: 30px 0 50px 0;
}
.fd-layer{
    .login-name{
        font-size: 15px;
        line-height: 30px;
    }
    .login-text{
        font-size: 15px;
        width: 100%;
    }
    .layermcont{
        padding: 25px 20px;
    }
}
.sy-sm{
    font-size: 14px;
    text-align: center;
    color: $colorMain;
    padding: 15px 0;
    a{
        color: $colorMain;
        padding: 0 5px;
    }
}
.sy-sm2{
    padding-top: 5px;
}
.la-jz{
    padding-top: 10px;
}
.jf-name{
    text-align: center;
    padding: 10px 0 5px 0;
}
.jf-num{
    text-align: center;
}
.jf-num-t{
    font-size: 48px;
    color: $colorMain;
    display: inline-block;
    position: relative;
    line-height: 50px;
}
.jf-num-i{
    position: absolute;
    width: 20px;
    display: block;
    height: 20px;
    right: -22px;
    top: -5px;
    img{
        width: 100%;
        float: left;
    }
}
.jf-nav{
    display: flex;
    border-top: 1px solid #E5E5E5;
    margin-top: 20px;
    a{
        flex: 1;
        text-align: center;
        padding: 12px 0;
        color: $colorSub;
        img{
            width: 29px;
            margin-right: 15px;
        }
    }
    a:first-child{
        border-right: 1px solid #E5E5E5;
    }
}
.jf-lp{
    overflow: hidden;
    margin-top: 20px;
    background: #fff;
    a{
        display: flex;
        width: 50%;
        float: left;
        padding: 10px;
        align-items: center;
        height: 60px;
        border-top: 1px solid #E5E5E5;
    }
    a:nth-child(2n+1){
        border-right: 1px solid #E5E5E5;
    }
    a:nth-child(1),a:nth-child(2){
        border-top: 0;
    }
}
.jf-lp-left{
    width: 90px;
}
.jf-lp-tit{
    color: $colorSub;
}
.jf-lp-con{
    font-size: 12px;
    color: $colorText;
}
.jf-lp-pic{
    flex: 1;
    text-align: center;
    img{
        max-height: 39px;
        max-width: 100%;
    }
}
.jf-b1{
    margin-top: 20px;
    img{
        width: 100%;
    }
}
.jf-lp-list{
    
    a{
        display: flex;
        border-bottom: 1px solid #E5E5E5;
        padding: 10px;
        align-items: center;
    }
}
.jf-lp-t1{
    width: 65px;
    height: 65px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 5px;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.jf-lp-right{
    flex: 1;
    padding-left: 20px;
}
.jf-lp-tit{
    color: $colorTit;
}
.jf-lp-num{
    color: $colorMain;
    font-size: 18px;
    line-height: 1.3;
    span{
        font-size: 12px;
        color: $colorText;
        padding-left: 5px;
    }
}
.jf-lp-txt{
    color: $colorTit;
}
.jf-li-num{
    color: $colorMain;
    font-size: 24px;
    span{
        font-size: 18px;
        color: $colorText;
        padding-left: 5px;
    }
}
.jf-li-ms{
    font-size: 18px;
    color: $colorNavbar;
    padding-left: 15px;
    margin-bottom: 8px;
}
.jf-li-text{
    color: $colorText;
    padding: 8px 15px;
    background: $colorW;
}
.ht-tab{
    display: flex;
    padding: 15px;
    a{
        flex: 1;
        color: $colorMain;
        font-size: 18px;
        text-align: center;
        padding: 1px 0;
        border: 1px solid $colorMain;
        border-left: 0;
        &:nth-child(1){
            border-left: 1px solid $colorMain;
        }
        &.active{
            background: $colorMain;
            color: $colorW;
        }
    }
}
.ht-tz-list{
     li{
         border-bottom: 1px solid $bodyBg;
     }
    .my-tz-r{
        text-align: right;
        padding-right: 15px;
    }
}
.ht-tz-num{
    flex: 2;
}
.ht-tz-r{
    flex: 1;
    padding-right: 15px;
    text-align: right;
}
.mt20{
    margin-top: 20px;
}
.ht-he{
    text-align: right;
    padding:10px 15px 0 0;
    color:#4a90e2;
    a{
        color:#4a90e2;
    }
}
